@import '@fontsource-variable/funnel-sans';

:root {
  --color-bg-light: #efefef;
  --color-blue-primary: #2a7eff;
  --color-blue-dark: #00477f;
  --color-blue-light: #9fccff;
  
  --color-btn-primary: #00477f;
  --color-btn-secondary: #2a7eff;
  --color-btn-inactive: #9fccff;
  --color-btn-text: #efefef;
  --color-btn-outline: #00477f;

  --color-green: #35a149;
  --color-green-light: #dcfce7;
  --color-green-lightest: #f0fdf4;
  --color-green-border: #bbf7d0;

  --color-red: #d85858;
  --color-red-light: #fee2e2;
  --color-red-lightest: #ead1d1;
  --color-red-border: #fecaca;

  --color-orange: #cf7230;
  --color-orange-light: #e8d6c9;
  --color-orange-border: #fde68a;

  --color-yellow: #d7f927;
  --color-text-dark: #00100f;
  --color-text-light: #efefef;
  --color-bg-gray: #cfcfcf;
  --color-warning-orange: #cf7230;
  --font-main: 'Funnel Sans Variable', sans-serif;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

#root > * {
  width: 100%;
  max-width: 480px;
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
i html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background: var(--color-bg-light);
  color: var(--color-text-dark);
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: var(--font-main);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: var(--font-main);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #00100f0d;
  border-radius: var(--radius-sm);
}

*::-webkit-scrollbar-thumb {
  background: #00100f33;
  border-radius: var(--radius-sm);
}

*::-webkit-scrollbar-thumb:hover {
  background: #00100f59;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00100f33 #00100f0d;
}
